<label>
  {language-switch-label(common)}
  <select class="languageSelector" data-page="<%= page.pathname %>" data-root="<%= site.root %>">
    <% for (const locale of page.locales) { %>
      <% if (page.locale == locale) { %>
        <option value="<%= locale %>" selected><%= locale %></option>
      <% } else { %>
        <option value="<%= locale %>"><%= locale %></option>
      <% } %>
    <% } %>
  </select>
</label>
